

#iscr-inpt-container
{
    display: flex;
    flex-direction: column;
    margin:15px;
}

.sideBar-inpts[type=text]
{
    width:92%;
    border:1px solid #74777f;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

.sideBar-inpts:focus, .pltChr-inpt:focus, .pltNum-inpt:focus
{
  border-color:rgb(133, 204, 126);
  box-shadow:0 0 8px 0 rgb(133, 204, 126);
}


.vclNum-inpt-nw
{
  display: flex; 
  flex-direction: row;
}
